.fondoCard {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
  opacity: 0.9;
  border: 1px solid #fff;
}
.fondoCard:hover {
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  object-fit: cover;
  transition: 0.7s;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
li {
  list-style: none;
  color: rgba(183, 221, 14, 0.692);
  font-size: 15px;
  font-weight: bold;
}
.cards_details {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  background-color: rgba(0, 0, 0, 0.6);
}
.cards_details:hover {
  -webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  background-color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
  .cards_details {
    width: 300px;
  }
}
.cards_details_ {
  padding: 10px;
  border: 1px solid rgb(247, 239, 239);
  border-radius: 10px;
  margin-top: 30px;
}
.cards_details_:hover {
  -webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
p {
  font-size: 1rem;
  color: rgba(183, 221, 14, 0.692);
}
span {
  font-family: "Monsetrrat";
  color: rgba(183, 221, 14, 0.692);
  font-weight: 700;
  text-transform: uppercase;
}
.description1 {
  font-size: 0.8rem;
  color: rgba(183, 221, 14, 0.692);
  text-align: justify;
  padding: 0 5px;
}
h2 {
  font-size: 1rem;
  color: rgba(183, 221, 14, 0.692);
}
.image_Detail {
  width: 100%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.lista {
  list-style: none;
  color: rgba(183, 221, 14, 0.692);
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 1rem;
}
.regresar {
  color: rgb(238, 255, 0);
  font-size: 20px;
  text-transform: lowercase;
}
.Episodios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.li_episodes {
  display: flex;
  padding: 0.7em;
  flex-direction: row;
  border: 1px solid rgb(247, 239, 239);
  margin: 0.3rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.Link_episodes {
  text-decoration: none;
}

.card_body {
  display: grid;
  gap: 10px;
}
@media (min-width: 484px) {
  .card_body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .card_body {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .card_body {
    grid-template-columns: repeat(5, 1fr);
  }
}
.card_body1 {
  padding: 8px;
  border: 1px solid rgb(247, 239, 239);
}
.click_Regresar {
  color: rgb(238, 255, 0);
  font-size: 20px;
  text-transform: lowercase;
  text-align: center;
  padding: 0.4rem;
  border: 1px solid rgb(247, 239, 239);
  background-color: rgba(0, 0, 0, 0.8);
}
.centar_episodes {
  text-align: center;
}
.card_nombre {
  color: rgb(238, 255, 0);
  font-weight: bold;
  text-transform: lowercase;
  font-size: 25px;
}
.h3_localizacion {
  color: rgb(238, 255, 0);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
}
.episodes_location {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
.episodes_location_click {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgb(247, 239, 239);
  margin: 0.3rem;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  border-radius: 8px;
}
.episodes_location_click_regresar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgb(247, 239, 239);
  margin: 0.3rem;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.episodes_location_button {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 1px solid rgb(247, 239, 239);
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.episodes_location_button:hover {
  background-color: rgba(0, 0, 0, 0.6);

  cursor: pointer;
  text-decoration: none;
}
.Link_episodes_titulo {
  color: rgb(247, 239, 239);
}
