body {
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url("https://wallpapercave.com/wp/wp7310601.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 94vh;
}
@media (min-width: 768px) {
  body {
    background-image: url("https://wallpapercave.com/wp/wp7310601.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
h1 {
  color: #000;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  border: 1px solid rgb(235, 230, 230);
  background-color: beige;
  box-shadow: 0px 0px 5px #ccc;
}
