body {
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url("https://wallpapercave.com/wp/wp7310601.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@media (min-width: 768px) {
  body {
    background-image: url("https://wallpapercave.com/wp/wp7310601.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.to {
  color: rgb(12, 250, 111);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
h1 {
  color: rgba(198, 236, 28, 0.959);
  font-size: 20px;
  font-weight: bold;
  display: inline;
  text-align: center;
}
h4 {
  padding: 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 35px;
    font-weight: bold;
    display: inline;
  }
}
img {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25);
  border: none;
}

img:hover {
  transform: scale(1.1, 1.1);
  opacity: 1;
  transform: scale(1.1, 1.1);
  object-fit: cover;
  transition: 0.7s;
  cursor: pointer;
}
.titulo {
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  opacity: 0.8;
  border-radius: 8px;
}
.titulo:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  object-fit: cover;
  transition: 0.7s;
  cursor: pointer;
}
.cards {
  display: grid;
  gap: 10px;
}
@media (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.cards {
  margin: 30px auto;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
